{% extends 'base/base.html' %} {% block body %}
<div class="container p-5">
  <h1 class="text-center">Bienvenido a la pagina de NOTAS RAPIDAS</h1>
  <br />
  <p class="text-center">
    <div>
      <button id="ButtonLogin" class="float-left submit-button">
        Ingresar al LOGIN
      </button>
      <script type="text/javascript">
        document.getElementById("ButtonLogin").onclick = function () {
          location.href = "{% url 'login' %}";
        };
      </script>
    
      <button id="ButtonRegister" class="float-left submit-button">
        o Registrate
      </button>
      <script type="text/javascript">
        document.getElementById("ButtonRegister").onclick = function () {
          location.href = "{% url 'register' %}";
        };
      </script>
      
    </div>
  </p>
      
</div>
{% endblock %} {% block content %}
<h1>Logueate o Registrate</h1>
{% endblock %}
