{% extends "base/base.html" %}{% load static %} {% block title %}
GestionNotasRapidas {% endblock %} {% block body %}
<div class="row">
  <div class="col-sm12 col-md6 col-lg4 col-xl-4">
    <h2>Agrega una Nota {{ user.username }}</h2>
    <div class="card">
      <div class="card-body">
        <form action="/registrarNota/" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <input
              type="text"
              id="txtuser"
              name="txtuser"
              value="{{user.id}}"
              class="form-control"
              placeholder="{{user.id}}"
              readonly />
          </div>
          <div class="form-group">
            <input
              type="text"
              id="txtconten"
              name="txtcontent"
              value="{{nota.content}}"
              class="form-control"
              placeholder="{{nota.content}}"
              required />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-block">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm12 col-md6 col-lg8 col-xl-8">
    <h1>Listado de Notas</h1>
    <div class="table-responsive" py-2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>user</th>
            <th>timestamp</th>
            <th>content</th>
            <th colspan="2">opciones</th>
          </tr>
        </thead>
        <tbody>
          {%for nota in notas%}
          <tr>
            <td>{{ nota.id }}</td>
            <td>{{ nota.user }}</td>
            <td>{{ nota.timestamp }}</td>
            <td>{{ nota.content }}</td>
            <td>
              {% csrf_token %}
              <a href="/edicionNota/{{nota.id}}" class="btn btn-info">Editar</a>
              <a href="/eliminarNota/{{nota.id}}" class="btn btn-danger"
                >Eliminar</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
