{% extends 'base/base.html' %} {% block body %}
<div class="container p-5">
  <h1 class="text-center">
    Bienvenido {{user.username}} usuario nº {{user.id}}!!
  </h1>
  {% csrf_token %} {{form.as_p}}
  <br />
  <div>
    <a href="/gestionCrearNota/" class="btn btn-info">Crear Nota</a>
  </div>
  <br />
  <div>
    <a href="/listadoNota/{{user.id}}" class="btn btn-info">Listar Nota</a>
  </div>
  <br />
  <div>
    <a class="text-secondary" href="{% url 'home' %}">Cerrar Sesion</a>
  </div>
</div>
{% endblock %}
